.head-filter {
  padding: 10px 0;
  width: 100%;
  max-width: 502px;
  box-sizing: border-box;
}

.wrap-tickets {
  padding: 0;
}

.btn-more {
  text-transform: uppercase;
  max-width: 502px;
  width: 100%;
  padding: 7px;
  background-color: #2196F3;
  color: #ffffff;
}
