.sidebar-filter {
  max-width: 232px;
  width: 100%;
  padding: 10px;
}
.ticket-dashboard {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
