.ticket {
  display: flex;
  flex-direction: column;
  color: #4A4A4A;
  padding: 20px;
  margin: 10px 0 20px;
  max-width: 502px;
  width: 100%;
  box-sizing: border-box;
  &__title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px;
  }
  &__price {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
    margin: 0 20px 0 0;
  }
  &__carrier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
  }
  &__carrierLogo {
    max-width: 36px;
    width: 100%;
    max-height: 36px;
    height: 100%;
    padding: 0 5px 0 0;
  }
  &__carrierTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: #70777b;
  }
}
.ticket-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__cell {
    width: 141px;
    height: 39px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 0;
  }
  &__titles {
    color: #A0B0B9;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  &__values {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
  }
}
