.sidebar {
  display: flex;
  flex-direction: column;
  color: #4A4A4A;
  padding: 0 0 10px;

  &__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    padding: 20px 20px 10px;
  }

  &__checkList {
    display: flex;
    flex-direction: column;

    div {
      padding: 8px 20px;
      font-size: 13px;

      &:hover {
        background: #F1FCFF;
      }
    }
  }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border: solid 1px;
  border-color: #9ABBCE;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #9ABBCE !important;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

::ng-deep .mat-checkbox-inner-container {
  height: 20px!important;
  width: 20px!important;
}
