<mat-card class="sidebar">
  <span class="sidebar__title">количество пересадок</span>
  <div class="sidebar__checkList">
    <div *ngFor="let filter of filters">
      <mat-checkbox
        [name]="filter.name"
      >
        {{filter.title}}
      </mat-checkbox>
    </div>
  </div>
</mat-card>





<!--<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      >
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>-->
