mat-button-toggle-group {
  width: 100%;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

}

.mat-button-toggle-appearance-standard {
  flex-grow: 1;
}

.mat-button-toggle {
  color: #4A4A4A;
}

.mat-button-toggle-checked {
  background-color: #2196F3;
  color: #ffffff;
}

::ng-deep .mat-button-toggle-button {
  text-transform: uppercase;
}
