.wrap-app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background: #E5E5E5;
  min-height: 100%;
}

.content {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
  background: #f3f7fa;
}

.wrap-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px;
}

.logo {
  width: 100%;
  max-width: 82px;
  height: 100%;
  max-height: 89px;
  text-align: center;
}
